@media (min-width: 576px) {
  .visible-sm {
    display: none;
  }  
}

@media (max-width: 575px) {
  .hidden-sm {
    display: none;
  }  
}

.page {
  margin-top: 1em;
}

.language-item {
  padding: 0.5em;
}

.row-list {
  max-width: 22em;
  min-width: 10em;

  .row {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }

  .row:last-child {
    border-bottom: none;
  }
}

.settings-list {
  .fa.settings-icon {
    width: 2em;
    text-align: center;
  }
  .col-setting-title {
    padding-top: 0.4em;
  }
}

.btn {
  cursor: pointer;
}